
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}


.top-bar {
    background-color: blue;
    height: 60px;
}

#top-bar-text {
    color: white; 
    margin: 0; 
    text-align: center;
    line-height: 50px;
}


.workouts, .lessons {
    text-align: center;
    margin: 20px;
}


h2 {
    color: blue;
}


button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


iframe {
    border: 1px solid blue;
    padding: 10px;
    width: 560px;
    height: 315px;
    margin: 10px;
}

