<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JumpingJacks</title>
</head>
<body>
    <form action="/profile" method="get">
        <button type="submit">Back</button>
    </form>
    <br>
    <form action="/restartjumpingJacks" method="get">
        <button type="submit">Start Work Out</button>
    </form>
    <br>
    <iframe src="/runJumpingJacks" width=1300px height=850px></iframe>
    <br>
    <br>
    <form action="/terminatejumpingJacks" method="get">
        <button type="submit">Stop Work Out</button>
    </form>
    <p>Number of sets done this session: {{userScore}}</p>
    <P>Estimated amount of calories burned: {{caloriesCount}}</P>
    <p>All time best: </p>
</body>
</html>