<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
</head>
<body>
    <form action="/jumpingJacksPage" method="get">
        <button type="submit">Do Jumping Jacks</button>
    </form>
    <form action="/pushups" method="get">
        <button type="submit">Do Push Ups!</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
</body>
</html>