<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Backhand</title>
    <link rel="stylesheet" type="text/css" href="/static/workouts.css">
</head>
<body>

    <div class="top-bar">
        <h2 id="top-bar-text">Virtual Gym</h2>
    </div>
    
    <div class="container">
        <form action="/profile" method="get">
            <button type="submit">Back</button>
        </form>
        <br>
        <p id="workoutStats">Number of sets done this session: {{userScore}}</p>
        <P id="workoutStats">Estimated amount of calories burned: {{caloriesCount}}</P>
        <form action="/restartTB" method="get">
            <button type="submit">Start Work Out</button>
        </form>
        <br>
        <iframe src="/runTB" width=1300px height=850px></iframe>
        <br>
        <br>
        <form action="/terminateTB" method="get">
            <button type="submit">Stop Work Out</button>
        </form>
        
        <!-- <p>All time best: </p> -->

    </div>
   
</body>
</html>